
{% load sass_tags %}
{% load static %}

<html lang="pl">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% sass_src 'css/basic.scss' %}" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <title>Home Page</title>
</head>
<body>
<div class="top-nav-bar">
    {% if user.is_authenticated %}
     <p>Zalogowany jako {{user}}</p>
    {% endif %}
    <ul class="nav nav-pills justify-content-end">
        <li class="nav-item">
            <a href="{% url 'home' %}">Achievement granted</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'guide' %}">Poradnik</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'games' %}">Gry</a>
        </li>
        <li class="nav-item">
            <a  href="{% url 'about' %}">O nas</a>
        </li>
        <li class="nav-item">
            {% if user.is_anonymous %}
            <a  href="/account/steam/login/" >
                <img src="{% static "images/Steam_login_button.png" %}">
            </a>
             {% else %}
                <a href="/account/logout/">Wyloguj</a>
            {% endif %}
        </li>
    </ul>

</div>
    {% block content %}
    {% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/81741cc170.js"></script>
</body>
</html>
