$textcolor: white;
$backgroundcolor: darkblue;
$backgroundlineargradient: linear-gradient(125deg, #34495d, #1b2838);
$backgroundradialgradient: radial-gradient(#34495d,#1b2838);


.section{
  position: relative;
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: $backgroundlineargradient;

}
.video-container{
  position: relative;

}

.section h1{
  text-align: center;
  font-size: 5rem;
  font-family: Calibri;
  padding: 15px;
  margin: 12px;
  z-index: 1;
}
@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}


.top-nav-bar{
  position: sticky;
  top:0px;
  background-color: rgba(37, 37, 37, 0.94);
  height: 5vh;
  -moz-box-shadow: 5px 15px 5px 0px #000;
  -webkit-box-shadow: 5px 15px 5px 0px #000;
  box-shadow: 1px 10px 10px #1d1d1d;
  z-index: 1;
}

.top-nav-bar a{
  display: block;
  top: 50%;
  height: 5vh;
  color: #c9c9c9;
  padding: 10px 16px;
  text-decoration: none;
}

.top-nav-bar a:hover{
  color: #2c3e50;
  background-color: rgba(117, 117, 117, 0.83);
  padding: 13px 16px;
}
.top-nav-bar p{
  position: absolute;
  display: block;
  height: 5vh;
  color: #c9c9c9;
  padding: 10px 16px;
  text-decoration: none;
}


.game-section{
  position: relative;
  width: 100%;
  min-height: 95vh;
  justify-content: center;
  overflow: hidden;
  background-image:$backgroundlineargradient;
  box-sizing: border-box;
}

.game-section table{
  position: relative;
  width: 80vw;
  left: 10%;
  box-shadow: 0px 5px 30px 10px grey;
}
.game-section p{
  position: relative;
  left: 10%;
}

.game-section input{
    position: relative;
  width: 80vw;
  left: 10%;
}

.game-section h1{
  text-align: center;
  padding: 15px;
  font-family: "Century751 BT";
  color: $textcolor;
}

.game-section p{
  color: $textcolor;
}

.achievement-number{
  width: 20%;
  top: 65%;
  height: 40%;
  left:65%;
  position: relative;
  align-items: center;
}

.achievement-number p{
  text-align: left;
  font-size: 0.8em;
  font-family: Calibri;
  color: $textcolor;
}

.about-section {
  position: relative;
  width: 100%;
  height: 95vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image:$backgroundradialgradient;
  box-sizing: border-box;
}

.about-box{
  top: 40%;
  left: 30%;
  height: 40vh;
  width: 30vw;
  position: relative;

}

.about-box p{
  color: $textcolor;
  font-size: 1em;
}

.guide-section {
  position: relative;
  width: 99vw;
  min-height: 95vh;
  overflow: hidden;
  background-image:$backgroundlineargradient ;

}

.guide-box {
  position: relative;
  left: 10%;
   color: $textcolor;
}

.guide-box h1{
  color: $textcolor;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.guide-box h2{
  margin-top: 1em;
  color:$textcolor;
  font-size: 1.7em;
}

.achievedSteam{
  background-color: #004c00;
}

#error-pop-up{
  width: 80vw;
  left: 10%;
}

#search-input{
  margin-bottom: 2vh;
}

.scrap-form{
  left: 10%;
}
.form-group{
  padding-left: 1%;
}
