$textcolor: white;
$backgroundcolor: darkblue;
$backgroundlineargradient: linear-gradient(125deg, #34495d, #1b2838);
$backgroundradialgradient: radial-gradient(#34495d,#1b2838);

@media only screen and (max-device-width: 680px) and (orientation: landscape){
  .navbar-links{
    height: 7vh !important;
  }
}

@media only screen and (max-device-width: 680px) and (orientation: portrait) {

  .top-nav-bar{
    flex-direction: column;
    align-items: flex-start;

  }

  .top-nav-bar p{
    height: 3vh;
    font-size: 3.5rem;
  }

  .navbar-links{
   display: none;
    width: 100%;
  }

  .navbar-links ul{
    width: 100%;
    flex-direction: column;
  }

  .navbar-links  li{
    text-align: center;
  }

    .navbar-links  li a{
    padding: .5rem 1rem;
      font-size: 3.5rem;
  }
    .navbar-links  li a img{
      margin: 1rem;
      padding: .5rem 1rem;
      max-width: 300px !important;
  }

  .toggle-button {
    display:  flex !important;
  }

  .navbar-links.active{
    display: flex;
  }

  .about-box{
    font-size: 1.5rem;
    top: 30% !important;
    width: 50vw !important;
  }


}

.section{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: $backgroundlineargradient;
  background-size: auto;
}

#video-container{
  position: absolute;
  top: 1vh;
  right: 0;
  min-width: 100%;
  min-height: 100%;
}

.section img{
  position: relative;
  max-width: 450px;
  left: 30%;
}

.section h1{
  text-align: center;
  font-size: 5vw;
  padding: 15px;
  margin: 12px;
  color: white;
  font-family: 'Copperplate Gothic Light';
}

.top-nav-bar{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(37, 37, 37, 0.94);
  -moz-box-shadow: 5px 15px 5px 0px #000;
  -webkit-box-shadow: 5px 15px 5px 0px #000;
  box-shadow: 1px 10px 10px #1d1d1d;
  z-index: 1;
}

.navbar-links{
  height: 100%;
}

.navbar-links ul{
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li{
  list-style: none;
}

.navbar-links li a{
  display: block;
  top: 50%;
  height: 5vh;
  color: #c9c9c9;
  padding: 10px 16px;
  text-decoration: none;
}


.navbar-links li:hover{
  color: #2c3e50;
  background-color: rgba(117, 117, 117, 0.83);
}


.top-nav-bar p{
  display: block;
  height: 5vh;
  color: #c9c9c9;
  padding: 10px 16px;
  text-decoration: none;
  margin: .5rem;
}

.toggle-button {
  position: absolute;
  top: .7rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 6vw;
  height: 4vh;
}

.toggle-button .bar{
  height: 5px;
  min-width: 100%;
  background-color: white;
  border-radius: 10px;
}

.game-section{
  position: relative;
  padding-top: 10vh;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  overflow: hidden;
  background-image:$backgroundlineargradient;
  background-size: auto;
  box-sizing: border-box;
}


#game-card{
  max-width: 12vw;
  box-shadow: 10px 10px 5px 0px #393939;
}

#game-card:hover {
  position: relative;
   transform: scale(1.1);

}

#game-padding {
  padding: 10px;
}


.game-section input{
  position: relative;
  width: 80vw;
  left: 10%;
}

.game-section h1{
  text-align: center;
  padding: 15px;
  font-family: "Century751 BT";
  color: $textcolor;
}


.achievement-number{
  width: 20%;
  top: 65%;
  height: 40%;
  left:65%;
  padding-top: 5vh;
  position: relative;
  align-items: center;
}

.achievement-number p{
  text-align: left;
  font-size: 0.8em;
  font-family: Calibri;
  color: $textcolor;
}

.about-section {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 5vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image:$backgroundradialgradient;
  box-sizing: border-box;
  background-size: auto;
}

.about-box{
  top: 40%;
  left: 30%;
  height: 40vh;
  width: 30vw;
  position: relative;
}

.about-box p{
  color: $textcolor;
  font-size: 1em;
}

.guide-section {
  position: relative;
  min-width: 95vw;
  padding-top: 10vh;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background-image:$backgroundlineargradient;
  background-size: auto;
}

.guide-box {
  position: relative;
  left: 10%;
  color: $textcolor;
}

.guide-box h1{
  color: $textcolor;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.guide-box h2{
  margin-top: 1em;
  color:$textcolor;
  font-size: 1.7em;
}

.achievedSteam{
  background-color: #004c00;
}

#error-pop-up{
  width: 80vw;
  left: 10%;
}

#search-input{
  margin-bottom: 2vh;
}

.scrap-form{
  position: relative;
  left: 10%;
  color: white;
}

.form-group{
  padding-left: 1%;
}
