{% extends "base.html" %}

{% block content %}
<div class="about-section">
    <div class="about-box">
        <p>
            We know how much time you spend to get some achievements.
            And we know how frustrating that can be. With this website help your showcase with achievements will not be any more empty!
        </p>
        <p>
            Everyone will find here something for himself, no mater whether you want squeeze as much as possible from your favorite game or
             you are the collector type, gates of achievements are open to you. </p>
    </div>

</div>


{%endblock%}
