{% extends "base.html" %}

{% block content %}
<div class="about-section">
    <div class="about-box">
        <p>
           We know how much time you need to get some achievements. And we know how frustrating that can be. With this website your achievements showcase will be empty no more!
        </p>
        <p>
            Whether you want to squeeze as much as possible from you favorite game or you are simply the collector type, the gates of the Achievements Heaven are now open.
        </p>
    </div>

</div>


{%endblock%}
