{% extends "base.html"%}
{% load static %}

{% block content %}
    <div class="game-section">
        <h1>Achievements</h1>
        {% if error.errorDescription %}
            <div class="alert alert-danger" role="alert">
                {{ error.errorDescription }}
            </div>
        {% endif %}
        <div class="col-12" >
            <p>Scrap links from Wiki url</p>
            <form action="#" method="post" class="form-inline">
                <datalist id="linkList">
                    {% for link in links %}
                        <option value="{{ link.link }}">
                    {% endfor %}
                </datalist>
                {% csrf_token %}
                {{ form }}
                <input name="idValue" id="idValue" type="hidden">
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
        <input type="text" id="search-input" onkeyup="SearchAchivement()"
           class="form-control" placeholder="Search for names.." title="Type in a name">
        <table class="table table-dark" id="achievement-table">
            <thead>
                <tr>
                    <th scope="col">Icon</th>
                    <th scope="col" onclick="sortTable()">Title</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
            {% for achievement in achievementSteam %}
                {% if achievement.achieved == 0 %}
                        <tr>
                            <td><img src="{{ achievement.icongray }}"img></td>
                {% else %}
                        <tr class="achievedSteam">
                            <td><img src="{{ achievement.icon }}"img></td>
                {% endif %}
                            <td>
                            {% if achievement.link == "#" or "link" not in achievement %}
                                {{ achievement.displayName }}
                            {% else %}
                                <a href="{{ achievement.link }}">{{ achievement.displayName }}</a>
                            {% endif %}
                            </td>
                            {% if achievement.hidden == 1 %}
                                <td>This achievement is hidden.</td>
                            {% else %}
                                <td>{{ achievement.description }}</td>
                            {% endif %}
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<script type="text/javascript">
const SearchAchivement = () => {
  let input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("search-input");
  filter = input.value.toUpperCase();
  table = document.getElementById("achievement-table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      tr[i].style.display = txtValue.toUpperCase().indexOf(filter) > -1 ? "" : "none";
    }
  }
}
function sortTable() {
  let table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("achievement-table");
  switching = true;
  dir = "asc";
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[1];
      y = rows[i + 1].getElementsByTagName("TD")[1];
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
{% endblock %}
