{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="game-section">
    <h1>List of Games</h1>
    {% if errorDescription %}
        <div class="alert alert-danger" role="alert" id="error-pop-up">
            No achievements in this game.
        </div>
    {% endif %}

    <input type="text" id="search-input" onkeyup="SearchAchivement()"
           class="form-control" placeholder="Search for names.." title="Type in a name">

        <ul class="row" id="game-table">
            {% for game in games.games %}
             <li id="game-padding" >
                <div class="card text-white bg-dark mb-3" style="width: 18rem; min-width: 10rem; left: 7%"  id="game-card">
                  <img class="card-img-top" src="http://media.steampowered.com/steamcommunity/public/images/apps/{{game.appid}}/{{game.img_logo_url}}.jpg"
                                 onerror="this.onerror=null;this.src='{% static "images/EmptyGame.png" %}';" alt="Card image cap">
                    <div class="card  text-white bg-dark mb-3"   >
                        <div class="card-body" >
                            <h5 class="card-title" style="min-height: 10vh; font-size: 1.1vw" >{{ game.name }}</h5>
                            <a href="{% url 'achievement' game.appid %}" class="btn btn-primary" style="width: 10vw; font-size:1.1vw">Achievement</a>
                        </div>
                    </div>
                </div>
             </li>
            {% endfor %}
        </ul>

</div>

<script type="text/javascript">
let timePeriodInMs = 4000;
let error_popup = document.getElementById("error-pop-up");
if (error_popup){
    setTimeout(function () {
    error_popup.style.display = "none";
}, timePeriodInMs)
}
const SearchAchivement = () => {
  let input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("search-input");
  filter = input.value.toUpperCase();
  table = document.getElementById("game-table");
  tr = table.getElementsByTagName("li");

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("h5")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      tr[i].style.display = txtValue.toUpperCase().indexOf(filter) > -1 ? "" : "none";
    }
  }
}
</script>
{%endblock%}
