{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="guide-section">
    <div class="guide-box">
        <h1>Guide how to publish your profile.</h1>
        <h2>Step#1</h2>
        <p>Open your Steam Client.</p>
        <h2>Step #2</h2>
        <p>Click [View my profile].</p>
        <h2>Step #3</h2>
        <p>Click [Edit Profile]</p>
        <h2>Step #4</h2>
        <p>Click the "My Privacy Settings".</p>
        <img src="{% static "images/ustawienia_prywatnosci_steam.png" %}" alt="brak obrazka">
        <h2>Step #5</h2>
        <p>Select the following Settings: My Profile: Public & Game Details: Public.</p>
        <img src="{% static "images/publiczne_ustawienia_steam.png" %}" style="margin-bottom: 2em" alt="brak obrazka">
    </div>
</div>


{%endblock%}
